/*
This is not a valid doc comment
*/
.text--display {
	font-family: "Comic Sans", "Papyrus", fantasy;
}

/***doc
this is not a valid doc comment
*/
.color--pink {
  color: pink;
}


/*
doc
Also not a valid doc comment
*/
.color--lime {
  color: lime;
}
